.title{
  font: "Custom Font";
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 7.5px;
}

.basic-button{
  height: 35px;
  width: 35px;
  border-radius: 100%;
}

.right-margin{
  margin-right: 7px;
}

.content{
  padding-top: 0px;
  --ion-background-color: #ebebe9;
}

.list{
  padding-top: 0px;
}

.list-item{
  font: "Custom Font";
  font-weight: bold;
  font-size: 20px;
}

.odd {
  --background: var(--ion-color-light-shade);
}

.even {
  --background: var(--ion-color-secondary);
}


.footer-button{
  text-align: center;
  font: "Custom Font";
  font-weight: bold;
  font-size: 20px;
}

.footer-toolbar{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
