<ion-content [fullscreen]="true" class="bg-class">
  <ion-grid class="adjustable-grid">
    <ion-row id="title">
      <ion-col size="12" class="ion-text-center">
        <h1 class="title">Werewolf Manager</h1>
      </ion-col>
    </ion-row>
    <ion-row class="button-container">
      <ion-col size="12" class="ion-text-center">
        <ion-button routerLink = "/player-creation" shape="round" class="rounded-button">NEW GAME</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="button-container">
      <ion-col size="12" class="ion-text-center">
        <ion-button routerLink = "/load-game" shape="round" class="rounded-button">LOAD GAME</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
